<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ixxp.culpop.mapper.PopupMapper">
    <resultMap id="popupResult" type="popup">
        <id property="id" column="id" />
        <result property="title" column="title" />
        <result property="address" column="address" />
        <result property="startDate" column="startDate" />
        <result property="endDate" column="endDate" />

        <collection property="store" javaType="Store">
            <id property="id" column="storeId" />
            <result property="storeName" column="storeName" />
            <result property="image" column="image" />
        </collection>
    </resultMap>
    <resultMap id="popupDetail" type="popup">
        <id property="id" column="id" />
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="time" column="time" />
        <result property="address" column="address" />
        <result property="startDate" column="startDate" />
        <result property="endDate" column="endDate" />
        <result property="latitude" column="latitude" />
        <result property="longitude" column="longitude" />
        <result property="notice" column="notice" />
        <result property="storeUrl" column="storeUrl" />
        <result property="snsUrl" column="snsUrl" />

        <collection property="store" javaType="Store">
            <id property="id" column="storeId" />
            <result property="storeName" column="storeName" />
            <result property="image" column="image" />
        </collection>
        <collection property="admin" javaType="Admin">
            <id property="id" column="adminId" />
        </collection>
    </resultMap>
    <insert id="insertPopup" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO popup (adminId, storeId, title, content, time, address, startDate, endDate, latitude, longitude, notice, storeUrl, snsUrl, parking, fee, noKids, pet, wifi, viewCount)
        VALUES (#{admin.id}, #{store.id}, #{title}, #{content}, #{time}, #{address}, #{startDate}, #{endDate}, #{latitude}, #{longitude}, #{notice}, #{storeUrl}, #{snsUrl}, #{parking}, #{fee}, #{noKids}, #{pet}, #{wifi}, #{viewCount})
    </insert>
    <select id="selectPopup" parameterType="int" resultType="popup">
        SELECT * FROM popup WHERE id=#{id}
    </select>
    <select id="selectPopupMain" resultMap="popupResult">
        SELECT p.id, p.title, p.address, p.startDate, p.endDate, s.id AS storeId, s.storeName, s.image
        FROM popup p
        LEFT JOIN popuplike l ON p.id = l.popupId
        LEFT JOIN store s ON p.storeId = s.id
        WHERE #{date} BETWEEN p.startDate AND p.endDate
        GROUP BY p.id, p.title, p.address, p.startDate, p.endDate, s.id, s.storeName, s.image
        ORDER BY p.endDate
        LIMIT 8;
    </select>
    <select id="selectCarousel" resultMap="popupResult">
        SELECT p.id, p.title, p.address, p.startDate, p.endDate, s.id AS storeId, s.storeName, s.image, COUNT(l.popupId) AS likeCount
        FROM popup p
        LEFT JOIN popuplike l ON p.id = l.popupId
        LEFT JOIN store s ON p.storeId = s.id
        GROUP BY p.id, p.title, p.address, p.startDate, p.endDate, s.id, s.storeName, s.image
        ORDER BY likeCount DESC
        LIMIT 6;
    </select>
    <select id="selectPopupList" resultMap="popupResult">
        SELECT p.id, p.title, p.address, p.startDate, p.endDate, s.id AS storeId, s.storeName, s.image
        FROM popup p
        LEFT JOIN popuplike l ON p.id = l.popupId
        LEFT JOIN store s ON p.storeId = s.id
        WHERE (#{area} = 'all' OR p.address LIKE CONCAT('%', #{area}, '%'))
            AND p.startDate &lt;= #{endDate}
            AND p.endDate &gt;= #{startDate}
        GROUP BY p.id, p.title, p.address, p.startDate, p.endDate, s.id, s.storeName, s.image
        ORDER BY p.endDate
        LIMIT #{offset}, #{size};
    </select>
    <select id="selectPopupDetail" parameterType="int" resultMap="popupDetail">
        SELECT * FROM popup p
        LEFT JOIN store s ON p.storeId = s.id
        WHERE p.id=#{id}
    </select>
    <select id="selectProfilePopup" resultMap="popupResult">
        SELECT p.id, p.title, p.address, p.startDate, p.endDate, s.id AS storeId, s.storeName, s.image, pl.userId
        FROM popup p
        LEFT JOIN popuplike pl ON p.id = pl.popupId
        LEFT JOIN store s ON p.storeId = s.id
        WHERE
            (CASE
                WHEN NULLIF(#{sort}, '') IS NULL OR #{sort} = 'all' THEN 1
                WHEN #{sort} = 'open' AND CURDATE() BETWEEN p.startDate AND p.endDate THEN 1
                WHEN #{sort} = 'soon' AND CURDATE() &lt; p.startDate THEN 1
                ELSE 0
            END = 1)
            AND pl.userId = #{user.id}
        GROUP BY p.id, p.title, p.address, p.startDate, p.endDate, s.id, s.storeName, s.image, pl.userId
        ORDER BY p.endDate;
    </select>
    <select id="selectSearchPopup" resultMap="popupResult">
        SELECT p.id, p.title, p.address, p.startDate, p.endDate, s.id AS storeId, s.storeName, s.image
        FROM popup p
        LEFT JOIN popuplike pl ON p.id = pl.popupId
        LEFT JOIN store s ON p.storeId = s.id
        <!--    word: 검색 가능 컬럼 : title, address, tagName    -->
        WHERE (p.title LIKE CONCAT('%', #{word}, '%') OR p.address LIKE CONCAT('%', #{word}, '%') OR
        EXISTS (SELECT 1 FROM popupTag pt JOIN tag t ON pt.tagId = t.id WHERE pt.popupId = p.id AND t.tagName LIKE CONCAT('%', #{word}, '%')))
        GROUP BY p.id, p.title, p.address, p.startDate, p.endDate, s.id, s.storeName, s.image
        ORDER BY p.endDate
        LIMIT #{offset}, #{size};
    </select>
    <select id="selectViewCount" parameterType="int">
        SELECT viewCount FROM popup WHERE id = #{popupId};
    </select>
    <update id="updateViewCount" parameterType="int">
        UPDATE popup SET viewCount = viewCount+1 WHERE id=#{popupId}
    </update>
</mapper>