<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ixxp.culpop.mapper.StoreMapper">
    <insert id="insertStore" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO Store (storeName, image) VALUES (#{storeName}, #{image})
    </insert>
    <select id="selectStore" parameterType="int" resultType="store">
        SELECT * FROM Store WHERE id=#{storeId}
    </select>
    <update id="updateStore" parameterType="store">
        UPDATE Store SET storeName=#{storeName}, image=#{image} WHERE id=#{id}
    </update>
    <delete id="deleteStore" parameterType="int">
        DELETE FROM Store WHERE id=#{id}
    </delete>
</mapper>